<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	<bean id="personDao" class="cn.itcast.spring.sh.mvc.PersonDaoImpl"></bean>
	
	<bean id="personService" class="cn.itcast.spring.sh.mvc.PersonServiceImpl">
		<property name="personDao">
			<ref bean="personDao"/>
		</property>
	</bean>
	
	<bean id="personAction" class="cn.itcast.spring.sh.mvc.PersonAction">
		<property name="personService">
			<ref bean="personService"/>
		</property>
	</bean>
</beans>
