<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	<bean id="personDao" class="cn.itcast.proxy.sh.PersonDaoImpl"></bean>
	
	<bean id="transaction" class="cn.itcast.proxy.sh.Transaction"></bean>
	
	<bean id="personDao2" class="cn.itcast.proxy.sh.PersonDaoProxy">
		<constructor-arg index="0" ref="personDao"></constructor-arg>
		<constructor-arg index="1" ref="transaction"></constructor-arg>
	</bean>
</beans>
